---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="header">
  <a href="/">
    <img class="logo" width="130" height="80" src="images/logo.svg" alt="Лого">
  </a>

  <nav class="nav">
    <HeaderLink href="/">Главная</HeaderLink>
    <HeaderLink href="/slots">Автоматы/Слоты</HeaderLink>
    <HeaderLink href="/блог">Провайдеры</HeaderLink>
    <HeaderLink href="/about">Отзывы</HeaderLink>
  </nav>
</header>

<style>
  .header {
    margin-inline: auto;
    padding-block: 12px;
    width: min(100% - 3rem, 70ch);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    flex-shrink: 0;
  }
</style>